<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is home page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, omnis cupiditate tempora nisi eos earum consequatur quod repudiandae ut. Odit error inventore necessitatibus nihil voluptate, optio repudiandae rerum! Nemo sunt placeat dolores magni quos, atque natus ab, omnis, cupiditate ipsa facere deserunt recusandae. Harum, voluptates.</p>
    <button>click me</button>
</body>
</html>