<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new post</title>
</head>
<body>
    <h2>Add new post</h2>
    <form method="post" action="/posts">
        <input type="text" name="username" id="user" placeholder="username"/>
        <br/>
        <br/>
        <textarea name="content" placeholder="content" id="content"></textarea>
        <br/>
        <button>submit</button>
    </form>
    
</body>
</html>